@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900");

body {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: #ebedef;
  padding: 0;
  margin: 0;
}
